header{
    width: 100%;
    z-index: 5;
    position: fixed; /* to make the header fixed */
    background: rgba(0 0 0 .1);
    backdrop-filter: blur(30px);
}
header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}
.nav-bar .logo-bar{
    display: flex;
    align-items: center;
    
}
.nav-bar .logo-bar .title{
    line-height: 1;
    font-family: movalo;
    font-size: 50px;
    color: #e7e4e4;
}


.nav-bar .nav-list{
    display: flex;
    align-items: center;
    gap: 13px;
    padding-right: 70px;
    
} 


.nav-bar .nav-list .nav-link{
    font-size: 19px;
    padding: 0 15px;
    color: #e7e4e4;
    position: relative;
    transition: 0.2s ease all
}
.nav-bar .nav-list .nav-link:hover{
     color: #0b0b45;
}
.nav-bar .nav-list .nav-link::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 3px;
    background-color:#07072e;
    transition: 0.5s ease;
}
.nav-bar .nav-list .nav-link:hover::before{
    width: 100%;
}
/*Hero*/
.hero-section{
    background-image: url(img/bg.png);
    background-position: center;
    background-size: cover;
    min-height: 110vh;
}
.hero-section .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px; 
}
.hero-section .section-content .container-1 {
    flex: 1;
}

.hero-section .section-content .container-2 {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    justify-content: center;
    flex: 1;

}
.hero-section .section-content .container-2 .title{
    font-size: 60px;
    color: #f2f3f4;
    margin-bottom: 10px;
}
.hero-section .section-content .container-2 .title span{
    color: #0b0b45 ;
    font-family: movalo;
}
.hero-section .section-content .container-2 .paragraph{
    color:#f2f3f4;
    font-size: 18px;
}
.hero-section .section-content .container-2 .btn{
    margin: 40px 0px;
}
.hero-section .container-2 .btn a{
    padding: 15px 30px;
    background-color: #f37e00 ;
    color: #f2f3f4;
    font-size: 18px;
    border-radius: 2px;   
    transition: 0.3s ease all;
}
.hero-section .container-2 .btn a:hover{
    box-shadow: 0 2px 20px #f4c994;
}
/*about*/
.about-section .section-content{
    padding: 60px 80px;
}
.about-section .section-content .section-title{
    text-align: center;
    margin-bottom: 20px;
}
.about-section .container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.about-section .container .service{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 100%;
    box-shadow: 0 0 10px rgb(216, 216, 216);
    border-radius: 10px;
    padding: 20px 20px;
}
.about-section .container .service .img-border{
    margin-bottom: 20px;
       
}
.about-section .container .service .img-border img{
    width: 100%;
    height: 150px;
    object-fit: contain;

}
.about-section .container .service .title{
    font-size: 30px;
    font-family: movalo;
    margin-bottom: 5px;
}
.about-section .container .service .subtitle{
    font-size: 14px;
}
.about-section .container .service .link{
    margin-top: 10px;
}
.about-section .container .service .link a{
    font-size: 19px;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: 0.3s ease all;
}
.about-section .container .service .link a:hover{
    font-size: 21px;
}
/*Detail*/
.detail-section{
    background-image: url(img/bg-2.png);
    height: 80vh;
    background-position: center;
    background-size: cover;
}
.detail-section .section-content {
    display: flex;
    justify-content: space-between;
    justify-content: center;

    padding: 40px 60px; 
}
.detail-section .section-content .container-1{
    flex: 1;
}
.detail-section .section-content .container-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0b0b45; 

}
.detail-section .section-content .container-2 .title{
    font-size: 25px;
    color: #b7b7b7;
    text-transform: uppercase;
}
.detail-section .section-content .container-2 .subtitle{
    font-size: 55px;
    margin-top: 2px;
    margin-bottom: 20px;
    font-family: movalo;
}
.detail-section .section-content .container-2 .paragraph{
    font-size: 18px;
}
.detail-section .section-content .container-2 .btn{
    margin: 40px 0px;
}
.detail-section .section-content .container-2 .btn a{
    padding: 15px 30px;
    background-color: #f37e00 ;
    color: #f2f3f4;
    font-size: 18px;
    border-radius: 2px;   
    transition: 0.3s ease all;
}
.detail-section .section-content .container-2 .btn a:hover{
    box-shadow: 0 2px 20px #f4c994;
}
/*Price*/
.price-section .section-content{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.price-section .container{
    display: flex;
    justify-content: space-around;
}
.price-section .container img{
    width: 450px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    box-shadow: 0 5px 10px rgb(142, 142, 142);
    object-fit:cover;
}
.price-section .container .price-detail{
    box-shadow: 0 0 10px rgb(189, 189, 189);
    width: 700px;
    padding: 40px 80px;
    border-radius: 10px;
}
.price-section .container .price-detail .title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    font-family: movalo;
}
.price-section .container .price-detail .detail{
    display: flex;
    justify-content: space-between;
}
.price-section .container .price-detail .detail .paragraph{
    font-size: 18px;
    margin-bottom: 20px;
}
.price-section .container .price-detail .detail .price{
    font-size: 18px;
}
.price-section .section-content .container .btn{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-section .section-content .container .btn a{
    padding: 15px 30px;
    background-color: #f37e00 ;
    color: #f2f3f4;
    font-size: 18px;
    border-radius: 2px;   
    transition: 0.3s ease all;
}
.price-section .section-content .container .btn a:hover{
    box-shadow: 0 2px 20px #f4c994;
}


@media  screen and (max-width: 900px) {
     body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left:0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(50px);
    }

    .nav-bar :where(#menu-open-button, #menu-close-button),
    .about-section .about-details{
        font-size: 24px;
        display: block; 
        background: none; /* Removes the background */
        border: none; /* Removes any border if present */
        outline: none; /* Removes the outline */
        color: #e7e4e4;

    }
    .nav-bar :where( #menu-close-button)
    {
        color:#e7e4e4;
    }
    .nav-bar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    .nav-bar .nav-list {
        display: block;
        position: fixed;
        width: 100%;
        height: 340px;
        left:0px;
        top:-340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px;
        background:linear-gradient( to bottom,rgb(156, 191, 198), rgb(120, 158, 175) ) ;
        opacity: 0.95;
        gap:15px;
        transition: 0.7s ease;
    }

    body.show-mobile-menu .nav-bar .nav-list{
        top: 0px;
    }

    .nav-bar .nav-list .nav-link {
        display: block; /* Ensure each link takes full width */
        margin-top: 0; /* Remove extra margin */
        text-align: center; /* Center-align the text */
        padding: 10px 0; /* Add padding for better spacing */
        font-size: 20px;
        color: #e7e4e4;
    }
    .nav-bar .nav-list .nav-link:hover{
        color: #0b0b45;
    }
    .nav-bar .nav-list .nav-link::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        border-radius: 3px;
        transition: 0.5s ease;
    }
    .hero-section .section-content .container-2 .title{
        font-size: 55px;
    }
    .hero-section .section-content .container-2 .paragraph{
        font-size: 14px;
    }
    .hero-section .section-content .container-2 .btn{
        margin: 20px 0px;
    }
    .hero-section .container-2 .btn a{
        padding: 13px 20px;
        font-size: 16px;
    }
    .about-section .container .service{
        width: 300px;
    }
    .about-section .container .service .img-border img{
        width: 100%;
        height: 130px;
    }
    .about-section .container .service .title{
        font-size: 26px;
    }
    .about-section .container .service .subtitle{
        font-size: 13px;
    }
    .about-section .container .service .link a{
        font-size: 16px;
    }
    .about-section .container .service .link a:hover{
        font-size: 18px;
    }
    .detail-section{
        height: 50vh;
    }
    .detail-section .section-content .container-2 .title{
        font-size: 17px;
    }
    .detail-section .section-content .container-2 .subtitle{
        font-size: 41px;
    }
    .detail-section .section-content .container-2 .paragraph{
        font-size: 13px;
    }
    .detail-section .section-content .container-2 .btn a{
        padding: 13px 20px;
        font-size: 16px;
    }
    .price-section .container img{
        width: 400px;
        height: 520px;
    }
    .price-section .container .price-detail{
        width: 420px;
        padding: 20px 20px;
    }
    .price-section .container .price-detail .title{
    font-size: 35px;
    }
    .price-section .container .price-detail .detail .paragraph{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .price-section .container .price-detail .detail .price{
        font-size: 15px;
    }
    .price-section .section-content .container .btn{
        margin-top: 10px;
    }
    .price-section .section-content .container .btn a{
        padding: 13px 20px;
        font-size: 15px;
    }

}

@media screen and (min-width:900px) {
    .nav-bar .fas{
        display: none;
    }
    .nav-bar .fa-solid{
        display: none;
    }
    
}

@media screen and (max-width: 600px){
    .nav-bar .logo-bar .logo-text{
        width: 230px;
        height: 100%;
    }
    .nav-bar .nav-list .nav-link{
        font-size: 20px;
    }
    .hero-section .section-content .container-1 {
        flex: 0;
    }
    .hero-section .section-content .container-2 .title{
        font-size: 45px;
    }
    .hero-section .section-content .container-2 .paragraph{
        font-size: 12px;
    }
    .hero-section .section-content .container-2 .btn{
        margin: 20px 0px;
    }
    .hero-section .container-2 .btn a{
        padding: 13px 18px;
        font-size: 14px;
    }
    .about-section .section-title{
        font-size: 45px;
    }
    .about-section .container{
        flex-direction: column;
        align-items: center;
    }
    .about-section .container .service .img-border img{
        width: 100%;
        height: 120px;
    }
    .about-section .container .service .title{
        font-size: 24px;
    }
    .about-section .container .service .subtitle{
        font-size: 12px;
    }
    .about-section .container .service .link a{
        font-size: 15px;
    }
    .about-section .container .service .link a:hover{
        font-size: 17px;
    }
    .detail-section{
        height: 60vh;
        display: flex;
    }
    .detail-section .section-content{
        padding: 20px 40px;
    }
    .detail-section .section-content .container-1 {
        flex: 0;
    }
    .detail-section .section-content .container-2 .title{
        font-size: 16px;
    }
    .detail-section .section-content .container-2 .subtitle{
        font-size: 30px;
    }
    .detail-section .section-content .container-2 .paragraph{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .detail-section .section-content .container-2 .btn{
        margin: 20px 0px;
    }
    .detail-section .container-2 .btn a{
        padding: 13px 18px;
        font-size: 14px;
    }
    .price-section .container img{
        width: 150px;
        height: 300px;
    }
    .price-section .container .price-detail{
        width: 220px;
        padding: 20px 10px;
    }
    .price-section .container .price-detail .title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .price-section .container .price-detail .detail .paragraph{
        font-size: 10px;
        margin-bottom: 12px;
    }
    .price-section .container .price-detail .detail .price{
        font-size: 10px;
    }
    .price-section .section-content .container .btn{
        margin-top: 5px;
    }
    .price-section .section-content .container .btn a{
        padding: 10px 15px;
        font-size: 10px;
    }
}
